<!DOCTYPE html>
<html>

<head>
  <title>EyesUp</title>
</head>

<body style="background-color: aquamarine;">
  <h1>Welcome, {{ username }}! <a href="{{weapons_link}}">Loadout and perks</a></h1>
  <h2>Membership ID: {{ membership_id }}</h2>
  <h2>Your loadout:
    <ul>
      <li>Primary: {{ equipped_items_1[0] }} <img src="{{equipped_item_images_1[0]}}" , alt=" {{equipped_items_1[0]}}">
      </li>
      <li>Special: {{ equipped_items_1[1] }} <img src="{{equipped_item_images_1[1]}}" , alt=" {{equipped_items_1[1]}}">
      </li>
      <li>Heavy: {{ equipped_items_1[2] }} <img src="{{equipped_item_images_1[2]}}" , alt=" {{equipped_items_1[2]}}"> </li>
    </ul>
    Armor:
    <ul>
      <li>Helm: {{ equipped_items_1[3] }} <img src="{{equipped_item_images_1[3]}}" , alt=" {{equipped_items_1[3]}}"> </li>
      <li>Arms: {{ equipped_items_1[4] }} <img src="{{equipped_item_images_1[4]}}" , alt=" {{equipped_items_1[4]}}"> </li>
      <li>Chest: {{ equipped_items_1[5] }} <img src="{{equipped_item_images_1[5]}}" , alt=" {{equipped_items_1[5]}}"> </li>
      <li>Legs: {{ equipped_items_1[6] }} <img src="{{equipped_item_images_1[6]}}" , alt=" {{equipped_items_1[6]}}"> </li>
      <li>Class: {{ equipped_items_1[7] }} <img src="{{equipped_item_images_1[7]}}" , alt=" {{equipped_items_1[6]}}"></li>

</body>

</html>