<!DOCTYPE html>
<html>
  <head>
    <title>EyesUp</title>
  </head>

  <body style="background-color: aquamarine">
    <h1>nothing to look at here. <a href="{{back_link}}">Go back.</a></h1>
    <h2>
      Weapon 1 perks:
      <li>
        {{primary_perk_names[0]}}<img
          src="{{primary_perk_images[0]}}"
          ,
          alt=" {{primary_perk_names[0]}}"
        />
      </li>
      <li>
        {{primary_perk_names[1]}}<img
          src="{{primary_perk_images[1]}}"
          ,
          alt=" {{primary_perk_names[1]}}"
        />
      </li>
      <li>
        {{primary_perk_names[2]}}<img
          src="{{primary_perk_images[2]}}"
          ,
          alt=" {{primary_perk_names[2]}}"
        />
      </li>
      <li>
        {{primary_perk_names[3]}}<img
          src="{{primary_perk_images[3]}}"
          ,
          alt=" {{primary_perk_names[3]}}"
        />
      </li>
    </h2>
  </body>
</html>
